/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*"https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"> */

/* Styles for the body */

body {
	font-family: "Rubik", sans-serif;
	color: #000000;
	background-color: rgb(216, 177, 177);
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #fca8a8;
}

.resume-main {
	background-color: #f8dbdb;
}

.resume-aside {
	background-color: #fdc1c1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #000000;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.abril-fatface-regular {
	color: #000000;
	text-align: left;
	font-style: bold;
	text-shadow: 1px 1px 1px #f8dbdb;
	font-family: "Abril Fatface", serif;
	font-weight: 500;
	font-style: normal;
  }
  